@import "div-color.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 15vh;

    background-color: red;
}

.item{
    height: 15vh;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}