@import "div-color.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 15vh;

    background-color: red;
}

.item{
    height: 15vh;
    margin: 1vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

/* Block1 */
.block1-ext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.block1-int{
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;
}
.block1-int > .item{
    width: 31vw;
}


/* Block2 */
.block2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.block2 > .item{
    width: 48vw;
    height: 48vw;
}


@media screen and (min-width:481px) and (max-width:700px){
    .block1-int > .item:last-child{
        width: 98vw;
    }
    .block1-int > .item:nth-child(1),
    .block1-int > .item:nth-child(2){
        width: 48vw;
    }

}
@media screen and (max-width:480px) {
    /* Block1 */
    .block1-int{
        flex-direction: column;
        justify-content: center;
        align-items: stretch;

        width: 100%;
    }
    .block1-int > .item{
        width: 98vw;
    }

    .item{
        width: 98vw;
        height: 15vh;
    }

    /* Block2 */
    .block2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .block2 > .item{
        width: 98vw;
        height: 15vh;
    }
}
