.card-pequeno-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 7rem;
    padding: 5%;
    border: 1px solid black;
}

.card-pequeno-container > img {
    width: 30px;
    margin-right: 10px;
}