header .welcome-text p{
    font-style: italic;
    font-size:x-large;
    font-weight: 700;
}

main table{
    width: 80%;
    margin-bottom: 5rem;
    margin-top: 2rem;

}

main table tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid gray;

}

main table tr:nth-child(1){
    background-color: cornflowerblue;

}

main table tr th{
    width: 20%;
    height: 5%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
}

main table tr td{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

}

main table tr td img{

    border: 3px solid rgba(0, 0, 0, 0.568);
    margin: 10px 0;
    width: min(70%, 200px);
}